* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-weight: bold;
}
ul,
ol {
  list-style: none;
}
